################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/ReportAnalysis/CopilotIndices/17.14.1231.31060
/.vs/ReportAnalysis/DesignTimeBuild
/.vs/ReportAnalysis/FileContentIndex
/.vs/ReportAnalysis/v17
/ReportAnalysis/bin/Debug/net6.0/ReportAnalysis.dll
/ReportAnalysis/obj/project.assets.json
/ReportAnalysis/obj/project.nuget.cache
/ReportAnalysis/obj/ReportAnalysis.csproj.nuget.dgspec.json
/ReportAnalysis/obj/ReportAnalysis.csproj.nuget.g.props
/ReportAnalysis/obj/ReportAnalysis.csproj.nuget.g.targets
/ReportAnalysis/obj/Debug/net6.0/apphost.exe
/ReportAnalysis/obj/Debug/net6.0/ReportAn.C59B35DD.Up2Date
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.AssemblyInfo.cs
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.AssemblyInfoInputs.cache
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.assets.cache
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.csproj.AssemblyReference.cache
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.csproj.BuildWithSkipAnalyzers
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.csproj.CoreCompileInputs.cache
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.csproj.FileListAbsolute.txt
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.dll
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.GeneratedMSBuildEditorConfig.editorconfig
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.genruntimeconfig.cache
/ReportAnalysis/obj/Debug/net6.0/ReportAnalysis.pdb
/ReportAnalysis/obj/Debug/net6.0/refint/ReportAnalysis.dll
/ReportAnalysis/obj/Debug/net6.0/ref/ReportAnalysis.dll
/ReportAnalysis/bin/Debug/net6.0/ReportAnalysis.pdb
*.exe
/ReportAnalysis/bin/Debug/net6.0/ReportAnalysis.dll
